body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100%;
    background-color: rgb(63, 48, 20);
}

#calculator-body{
    margin: 70px auto 0px auto;
    background-color:rgb(255, 141, 10);
    width: fit-content;
    height: max-content;
    padding: 15px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;}

.display-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-bottom: 15px;
    height: 100px;
    font-family: 'Calculator','sans-serif';
    border-radius: 5px;
    flex-grow: 1;
}

.result-display{
    font-size: 70px;
    font-weight: bolder;
    padding: 10px;
    text-align: right;
}

.rows{
    display: flex;
    margin-bottom: 15px;
    gap: 15px;
}

button{
    height: 50px;
    background-color: black;
    color: white;
    border-style: none;
    border-radius: 10px;
    width: 70px;
    cursor: pointer;
    font-size:20px;
    font-style: 1000;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

button:hover {
background: #1b1919;
-webkit-transform: translate(0, 0.25em);
transform: translate(0, 0.25em);
}

button:hover::before {
-webkit-box-shadow: 0 0 0 2px #1b1919, 0 0.5em 0 0 #1b1919;
box-shadow: 0 0 0 2px #1b1919, 0 0.5em 0 0 #1b1919;
-webkit-transform: translate3d(0, 0.5em, -1em);
transform: translate3d(0, 0.5em, -1em);
}

button:active {
background: #1b1919;
-webkit-transform: translate(0em, 0.2em);
transform: translate(0em, 0.4em);
}

button:active::before {
-webkit-box-shadow: 0 0 0 2px #1b1919, 0 0 #ffe3e2;
box-shadow: 0 0 0 2px #1b1919, 0 0 #1b1919;
-webkit-transform: translate3d(0, 0, -1em);
transform: translate3d(0, 0, -1em);
}

.equals{
flex-grow: 2;
}